.body {
    margin: 0;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: 1rem;
    /* This will bring any item that fits forward to fill in the gaps */
    grid-auto-flow: dense;
    /* width: 75vw; */
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.item-1x1 {
    grid-column: span 1;
    grid-row: span 1;
    /* New CSS property that ensures the element maintains a width x height ratio */
    aspect-ratio: 1 / 1;
}

.item-1x2 {
    grid-column: span 1;
    grid-row: span 2;
    aspect-ratio: 1 / 2;
}

.item-1x3 {
    grid-column: span 1;
    grid-row: span 3;
    aspect-ratio: 1 / 3;
}

.item-2x2 {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1 / 1;
}

.item-2x1 {
    grid-column: span 2;
    grid-row: span 1;
    aspect-ratio: 2 / 1;
}

.item-2x3 {
    grid-column: span 2;
    grid-row: span 3;
    aspect-ratio: 2 /3;
}

.item-3x1 {
    grid-column: span 3;
    grid-row: span 1;
}

.item-3x2 {
    grid-column: span 3;
    grid-row: span 2;
    aspect-ratio: 3 / 2;
}

.item-3x3 {
    grid-column: span 3;
    grid-row: span 3;
    aspect-ratio: 1 /1;
}

.pano {
    grid-column: span 4;
    grid-row: span 2;
    aspect-ratio: 4 /2;
}

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}