.body {
    margin: 0;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: 1.5rem;
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.item-1x1 {
    grid-column: span 1;
    grid-row: span 1;
    /* New CSS property that ensures the element maintains a width x height ratio */
    aspect-ratio: 1 / 1;
}


/* .image-grid-col-2 {
    grid-column: 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

.image-grid-row-3 {
    grid-row: span 3;
}
 */

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}